{% load static %} {% load blog_tags %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <!--main menu-->
    {% block mainmenu %}
    <nav>
      <a href="{% url 'home' %}"></a>
      {% for m in menu %} {% if not forloop.last %}
      <a href="{% url m.url_name %}">{{m.title}}</a>
      {% else %}
      <a href="{% url m.url_name %}">{{m.title}}</a>
      {% endif %} {% endfor %}
    </nav>
    {% endblock mainmenu %}

    <!--side bar-->
    <aside>
      <ul>
        {% if cat_selected == 0 %}
        <li>Все категории</li>
        {% else %}
        <li><a href="{% url 'home' %}">Все категории</a></li>
        {% endif %}
        <!---->
        {% show_categories cat_selected=cat_selected %}
      </ul>
    </aside>
    <!-- Хлебные крошки -->
    {% block breadcrumbs %} {% endblock %}

    <!-- content -->
    <article>{% block content %} {% endblock %}</article>

    <!-- footer -->
    <footer>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
        laboriosam accusamus consectetur minima, tempore temporibus at nesciunt,
        sequi laudantium nam repudiandae repellat incidunt assumenda voluptate
        nisi impedit a voluptatum eveniet.
      </p>
    </footer>
  </body>
</html>
