{% extends 'app/base.html' %}
<!--content-->
{% block content %} {% for p in posts %}
<div class="mb-3 card shadow bg-white rounded">
  {% if p.photo %}
  <img
    class="card-img-top"
    src="{{p.photo.url}}"
    style="height: 100px; object-fit: cover"
  />
  {% endif %}
  <div class="card-body">
    <h2 class="card-title">{{p.title}}</h2>
    <!---->
    {% autoescape on %}
    <!---->
    {{p.content|linebreaks|truncatewords:50}}
    <!---->
    {% endautoescape %}
    <a class="btn btn-primary" href="{{p.get_absolute_url }}"> Читать пост </a>
  </div>
  <div class="card-footer">
    <p>Категория - {{p.cat}}</p>
    <p>Дата последнего изменения - {{p.time_update|date:"d-m-Y H:i:s"}}</p>
  </div>
</div>
{% endfor %} {% endblock %}
